@media (min-width: 768px) {
    .left-part{
        padding-left: 0px;
    }
    .left-yellow{
        display: none;
    }

}
@media (max-width: 768px) {
    .left-part{
        padding-left: 0px;
    }
    .left-yellow{
        display: none;
    }
}
i{
    font-style: normal;
}
.left-part{
    color: #fff;
}

.left-yellow{
    position: fixed;
    left: 0;
    width: 10px;
    height: 100%;
    background: #CD922E;
}
.col-md-4{
    background:#2E2F31;
}
.header-img{
    margin-top: 30px;
    padding: 4px;
    width: 130px;
    height: 130px;
    border: 5px #CD922E solid;
}
.line-outer{
    text-align: center;
}
.line-outer .line{
    display: inline-block;
    height: 3px;
    width: 150px;
    background-color: #CD922E;
}
.divider-line{
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #5F6164;
}
.col-md-4 ul li{
    margin: 10px 0 0 40px;
}
.small-circle-icon{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #CD922E;
    padding: 6px;
}
.language{
    margin: 0 0 20px 20px;
    font-size: 2em;
}
.skills{
    margin: 0 0 20px 20px;
    font-size: 2em;
}
.big-circle-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 10px;;
    background-color:#CD922E;;
}
.dot-white{
    display: inline-block;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.dot{
    display: inline-block;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #CD922E;
}
.col-md-8{
}
.right-part{
    background-color: #fff;
    color: #000;
    margin-top: 20px;
}
.individualResume{
    margin: 20px 0 20px 20px;
    font-size: 2em;
}
.right-part p{
    margin-left: 75px;
    font-size: 1.3em;
}
.text-left span:first-child{
    font-size: 1.2em;
    margin-left: 75px;
    font-weight: bolder;
}
.text-left span:nth-child(2){
    margin-left: 20px;
    color: #808080;
    font-size: 1em;
}
.text-left p{
    margin-left: 75px;
    font-size: 1em;
}